    @import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100;300;400;500;700;900&display=swap');
    
    $jade: #45a792;
    $teal: #0a8c99;
    $denim: #004e6c;
    $ocean: #1b77af;
    $gray: #f1f1f3;
    $red: #d1291c;
    $orange: #e0883f;
    $dark-orange: #e86834;
    $black: #000000;
    $white: #ffffff;
    $shadow: 2px 4px 20px -6px rgb(0 0 0 / 30%);
    $fontMain: "Noto Sans JP", sans-serif;